html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.craftwork-image {
    height: 300px;
    object-fit: cover; 
}

.bg-dark-blue {
    background-color: #2E3F50; 
}

.text-ocean-blue {
    color: #0077A7; 
}

    .text-ocean-blue:hover,
    .text-ocean-blue:focus {
        color: #00557E; 
    }



.dark-mode {
    background-color: #1a1a1a; 
    color: #ffffff; 
}

.colorful-section {
    background-color: #ff6347; 
    color: #ffffff;
}

.colorful-heading {
    color: #4682b4;
}

.colorful-link {
    color: #32cd32;
}