@page
@model st10454732_Thato_Omphile_Nameng.Pages.About_UsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <img src="Images/KumaloCraft.jpg" />

    <p>KhumaloCraft Emporium is a pioneering initiative by James Khumalo, dedicated to showcasing and promoting
        handcrafted products from artisans worldwide. With a vision to celebrate craftsmanship and 
        cultural diversity, KhumaloCraft aims to provide a platform where artisans can exhibit their unique 
        creations to a global audience.</p>
    
    <p>Committed to fostering sustainable practices and supporting local 
        communities, KhumaloCraft strives to create meaningful connections between artisans and consumers, 
        enriching lives through artistry and creativity.</p>
</div>