@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/site.css" />

<div class="header text-center mb-5">
    <h1 class="display-4 colorful-heading">Welcome to KhumaloCraft</h1>
    <h2 class="colorful-section">Connecting with other artisans</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <img src="Images/HomeArtisian.jpg" class="craftwork-image img-fluid mb-5" alt="Home Artisan Image" />
            <div class="content text-center">
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" class="colorful-link">building Web apps with ASP.NET Core</a>.</p>
            </div>
        </div>
    </div>
</div>
