@page
@model st10454732_Thato_Omphile_Nameng.Pages.MyWorkModel
@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/craftwork1.jpg" class="card-img-top craftwork-image" alt="Craftwork 1">
                <div class="card-body">
                    <h5 class="card-title">African Mother 1</h5>
                    <p class="card-text">The beauty of African craft.</p>
                    <p class="card-text">Price: R 50,00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/craftwork2.webp" class="card-img-top craftwork-image" alt="Craftwork 2">
                <div class="card-body">
                    <h5 class="card-title">Alamy Art</h5>
                    <p class="card-text">Traditional African arts and crafts.</p>
                    <p class="card-text">Price: R 70,00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/craftwork3.jpg" class="card-img-top craftwork-image" alt="Craftwork 3">
                <div class="card-body">
                    <h5 class="card-title">African Art 0064</h5>
                    <p class="card-text">Budding Craftsmen Display.</p>
                    <p class="card-text">Price: R 60,00</p>
                </div>
            </div>
        </div>
    </div>
</div>